@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.get{ 
    margin-left: 300px;
}
.cal{ 
    text-align: center;
}
.get1{ 
    margin-right: 160px;
    
}
.paras{ 
  font-size: 32px;
  font-weight: 650;
  margin-top: 30px;
  margin-left: 25px;
}
.image{ 
  visibility: visible;
}
.paras1{ 
  font-size: 19px;
  /* margin-top: 20px; */
  margin-top: 20px;
  line-height: 2.25rem;
  margin-left: 25px;

}
.parass{ 
  margin-left: 0px;
  margin-top: 0px;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
.at{ 
  font-size: 16px;
  /* margin-left: 50px; */
}
.talk{ 
  padding: 15px 80px;
  border: 2px solid #F62C72;
  background-color: transparent;
  color: white;
  font-size: 16px;
  /* margin-top: 120px; */
  margin-left: 0px;
  
}
@media screen and (max-device-width:1200px), screen and (max-width:998px) {
  .talk{
    padding: 15px 50px;
    /* margin-top: 30px; */
    /* justify-content: center; */
  }
  
  }
.image{ 
  width: 100px;
  margin-left: 250px;
  border: 1px solid #ffffff;
  /* border-radius: rounded; */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);

}
.images{ 
  width: 90px;
  margin-left: 300px;
  margin-top: 90px;
  border: 1px solid #ffffff;
  /* border-radius: rounded; */
 
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);


}
.node{ 
  width: 90px;
  margin-left: 200px;
  margin-top: 90px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);
}
.node1{ 
  width: 100px;
  margin-top: 90px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);
}
.node2{ 
  width: 100px;
  margin-top: 90px;
  margin-right: 200px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);
}
.node4{ 
  width: 100px;
  margin-top: 90px;
  margin-right: 150px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);
}
.node5{ 
  width: 100px;
  margin-top: 110px;
  margin-left: 150px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);
}
.node6{ 
  width: 100px;
  margin-top: 110px;
  margin-right: 0px;


}
.imagess{ 
  width: 70px;
  /* margin-right: 800px !important; */
  /* margin-top: 300px; */
  margin-right: 600px;
}
.imagess1{ 
  /* width: 70px; */

}
.images1{ 
  width: 90px;
  margin-left: 200px;
  margin-top: 70px;
  border: 1px solid #ffffff;
  /* border-radius: rounded; */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);

}
.image1{ 
  width: 100px;
  margin-left: 60px;
  border: 1px solid #ffffff;
  /* border-radius: rounded; */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);

}.image2{ 
  width: 90px;
  /* margin-right: 60px; */
  border: 1px solid #ffffff;
  /* border-radius: rounded; */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);

}.image3{ 
  width: 90px;
  margin-right: 150px;
  border: 1px solid #ffffff;
  /* border-radius: rounded; */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(39,40,33,.19);

}
.image4{ 
  width: 90px;
}
.image5{ 
  width: 90px;
  margin-top: -60px;
}
.talk:hover{ 
  padding: 15px 80px;
  border: 3px solid #F62C72;
  background-color: #F62C72;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.tablinks{ 
margin-right: 90px;
border: 1px solid black; 
color: black;}
.tablinks:hover{ 
  margin-right: 90px;
  /* border: 1px solid black;  */
color: #F62C72;}
.main1{ 
  margin-left: 50px;
  padding-right: 150px;
}
.back{ 
  background-image: url('buildyourdream-4078f74d.png');
}
.web{ 
  margin-left: 70px;
  font-weight: 750;
  margin-top: 100px;
  font-size: 35px;
}
.web1{ 
  margin-left: 70px;
  font-size: 23px;
  font-weight: 450;
}
.Company{ 
color: #F62C72;
}
.full{ 
  width: 9%;
  margin-top: 30px;
  margin-left: 40px;
  padding-bottom: 20px;
}
.years{ 
  margin-right: 100px;
}
.full1{ 
  margin-top: 100px;
  margin-bottom: 80px;
 
}
/* .stack{
  border: 1px solid black;
  border-top:none ;
  border-left: none;
  /* margin-bottom: 20px; */
  /* border-bottom: 1px solid black;
  width: 90%;
  margin-left: 150px; */

*/
.stack:hover{ 
  /* border: 1px solid black; */
  box-shadow: 4px 4px 15px 6px rgba(246,44,115,.15);

}
.stack1:hover{ 
  /* border: 1px solid black; */
  box-shadow: 4px 4px 15px 6px rgba(246,44,115,.15);

}
.stack2:hover{ 
  /* border: 1px solid black; */
  box-shadow: 4px 4px 15px 6px rgba(246,44,115,.15);

}
.stack:hover{
  /* border: 1px solid black; */
  /* border-top:none ; */
  /* border-left: none; */
  /* margin-bottom: 20px; */
  /* border-bottom: 1px solid black; */
  width: 90%;
  margin-left: 150px;
  /* box-shadow: 10px 10px rgb(236, 178, 178); */
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 7px 4px 15px 10px rgba(246,44,115,)

}
.stack1{

  border: 1px solid black;
  border-top:none ;
  border-left: none;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid black;
  width: 90%;
  margin-left: 70px;

}
.stack1:hover{

  border: 1px solid black;
  border-top:none ;
  border-left: none;
  margin-bottom: 20px;
  /* border-bottom: 1px solid black; */
  width: 90%;
  margin-left: 70px;
  background-color: #ffffff;
 
 border-radius: 10px;
 box-shadow: 7px 4px 15px 10px rgba(246,44,115,)

}
.stack2{
  border: 1px solid black;
  border-top:none ;
  border-left: none;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid black;
  width: 90%;
  /* margin-left: 70px; */
  /* margin-right: 40px; */

}
.product2{ 
  margin-left: 40px;
  /* padding: 40px; */
  padding-bottom: 10px;

}
.elevate{ 
  margin-left: 40px;
  font-size: 17px;
  line-height: 1.98rem;

}

.stack4{
  border: 1px solid black;
  /* margin-bottom: 20px; */
  /* border-bottom: 1px solid black; */
  width: 100%;
  /* margin-left: 70px; */
  /* margin-right: 40px; */
  margin-top: 80px;
  margin-left: 60px;
  background-color: #F8F8F8;
  border-radius: 10px;
border: none;
padding: 15px;
}
.stack4:hover{
  border: 1px solid black;
  /* margin-bottom: 20px; */
padding: 15px;

  /* border-bottom: 1px solid black; */
  width: 100%;
  /* margin-left: 70px; */
  /* margin-right: 40px; */
  margin-top: 80px;
  margin-left: 60px;
  background-color: black;
  color: white;
  border-radius: 10px;

}
.stack5:hover{
  border: 1px solid black;
  /* margin-bottom: 20px; */
  /* border-bottom: 1px solid black; */
  width: 80%;
  /* margin-left: 70px; */
  /* margin-right: 40px; */
  margin-top: 80px;
  /* margin-left: 60px; */
  background-color: black;
  color: white;
  border-radius: 10px;

}
.stack5{
  border: 1px solid black;
  /* margin-bottom: 20px; */
  /* border-bottom: 1px solid black; */
  width: 100%;
  /* margin-left: 70px; */
  /* margin-right: 40px; */
  margin-top: 20px;
  margin-left: 60px;
  background-color: #F8F8F8;
  border-radius: 10px;
border: none;
padding: 15px;
}
.Resource{ 
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;

}

.Resource1{ 
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;

}
.Unlock{ 
  font-size: 18px;
  /* margin-left: 20px; */
  line-height: 1.75rem;
/* text-align: center; */
/* justify-content: center; */
  /* margin-bottom: 90px; */
  /* border-bottom: 1px solid black; */
  /* width: 100%; */
  /* margin-bottom: 30px; */
  /* gap: 20; */
  /* text-align: center; */
  /* justify-content: center; */
}
.Unlock1{ 
  font-size: 17px;
  margin-left: 10px; 
margin-bottom: 30px;
line-height: 2.25rem;}


.owl{ 
  margin-top: 50px;
}
.item1{ 
  width: 40%;
}
.item2{ 
  width: 60%;
}
.item3{ 
  width: 30%;
  /* margin-top: -10px; */
}
.item4{ 
  width: 60%;
  /* margin-bottom: 40px; */
  margin-top: -70px;
}
.item5{ 
  width: 30%;
}
.item6{ 
  width: 30%;
}
.sales{ 
    margin-right: 150px;  
    text-align: center;
    white-space: nowrap;
    /* padding-right: 100px;   */
}
.main{ 
    border:1px solid black ;
    padding: px 20px;
    color: white;
    padding-top: 8px;
    background-color: black;
    /* gap: 10px; */
    /* padding-bottom: 40px; */
}
.first{ 
  font-size: 16px;
}
.first1{ 
  font-size: 16px;
}
.sales1{ 
  margin-right: 30px !important;
}
.get{ 
  padding: 10px 40px;
}
.btn_2{ 
background-color:#F62C72 !important;
padding: 15px 35px !important;
border-radius: 0 !important;
border: 2px solid #F62C72;
color: white !important;
/* font-size: 1.2rem !important; */
font-weight: 650 !important;
/* line-height: 1.5rem; */
}
.btn_2:hover{ 
    background-color: transparent !important;
    padding: 15px 35px !important;
    border-radius: 0 !important;
    border: 2px solid #F62C72;
    color: black !important;
    font-size: 16px !important;
    /* margin-right: 20px !important; */
    }
    .btn1{ 
        margin-right: 80px;
    }
    .navbar{ 
/* margin-right: 40px; */
    }
    .portfolio{ 
        /* margin-left: 50px; */
        font-weight: 500 !important;
        font-size: 17px;
        /* color: #F62C72 !important; */
        margin-right: 40px !important;
        font-family: Arial, Helvetica, sans-serif;
    }
    .one{ 
        border: none;
        /* margin-left: 50px; */
        font-weight: 500 !important;
        font-size: 19px;
        letter-spacing: .32px;
        margin-right: 40px !important;
        font-family: Arial, Helvetica, sans-serif;
    }
    .one1{ 
        border: none;
        /* margin-left: 50px; */
        font-weight: 500 !important;
        font-size: 19px;
        letter-spacing: .32px;
        margin-right: 40px !important;
        font-family: Arial, Helvetica, sans-serif;
    }
    .one2{ 
        border: none;
        /* margin-left: 50px; */
        font-weight: 500 !important;
        font-size: 19px;
        letter-spacing: .32px;
        margin-right: 40px !important;
        font-family: Arial, Helvetica, sans-serif;
    }
    .img1{ 
        width: 50%;
        border: none !important;
        /* margin-left: 300px; */
        margin-right: 80px;
    }
    .nav{ 
        gap: 12px;
      
    }
    .home{ 
        gap: 90px;
        font-weight: 600 !important;
        font-size: 16px;
        color: #F62C72 !important;
        margin-right: 40px !important;
        font-family: Arial, Helvetica, sans-serif;
    }
   
    .ms-header {
        display: flex;
        align-items: center;
        jsutify-content: center;
        font-family: sans-serif;
        width: 1040px;
        height: 140px;
        background: linear-gradient(to right bottom, #9dd7d5, #fea096);
      }
      .ms-header__title {
        flex: 1 1 100%;
        width: 100%;
        text-align: center;
        font-size: 60px;
        font-weight: bold;
        color: #fff;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);

      }
      @media screen and (max-device-width:1200px), screen and (max-width:998px) {
        .ms-header__title {
          font-size: 48px;
        }
        
        }
        @media screen and (max-device-width:830px), screen and (max-width:300px) {
          .ms-header__title {
            font-size: 30px;
          }
          
          
          }
        .MarB{
          margin-bottom: 40px;
        }
      .ms-slider {
        display: inline-block;
        height: 1.5em;
        overflow: hidden;
        vertical-align: middle;
        mask-image: linear-gradient(transparent, white, white, white, transparent);
        mask-type: luminance;
        mask-mode: alpha;
      }
      .ms-slider__words {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
        animation-name: wordSlider;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-duration: 7s;
      }
      .ms-slider__word {
        display: block;
        line-height: 1.3em;
        text-align: left;
      }
      @keyframes wordSlider {
        0%, 27% {
          transform: translateY(0%);
        }
        33%, 60% {
          transform: translateY(-25%);
        }
        66%, 93% {
          transform: translateY(-50%);
        }
        100% {
          transform: translateY(-75%);
        }
      }
      .margin{ 
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-top: 40px;
      }
      .headers{ 
        font-weight: 700;
        font-size: 50px;
      }
      .header1{
        background-image: url('Banner-22ae39b2.png');
        padding-top: 90px;
        background-repeat: no-repeat;
        padding-bottom: 50px;
        /* height: 1000px; */
    /* margin-top: 3rem; */
    /* margin-bottom: 3rem; */
      }
      .Together{ 
        color: #F62C72;
      }
      .pink{ 
        color: #F62C72;
      }
      .para1{ 
        color: #F62C72;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        margin-top: 32px;
      }
      .para2{ 
        color: white;
        text-align: center;
        font-size: 19px;
        font-weight: 200px;
        /* line-height: .32px; */
        margin-top: 32px;
        /* padding-top: 24px; */

      }
      .let{ 
        padding: 15px 60px;
        background-color: #F62C72;
        border: 2px solid #F62C72;
        color: white;
        font-size: 18px;
        /* padding-top: 10px; */
/* padding-top: 15px; */
        font-weight: 500;
        margin-top: 20px;
        /* margin-bottom: 10px; */
        /* padding-bottom: 20px; */
      }
      .let:hover{ 
        padding: 15px 60px;
        /* padding-top: 10px; */
        background-color:#272821;
        border: 2px solid #F62C72;
        color: white;
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
        /* margin-bottom: 10px; */
        /* padding-bottom: 20px; */
      }
      .empowering{ 
        color: #F62C72;
        /* margin-left:40px ; */
      }
      .empower{ 
        font-size: 30px;
        font-weight: 700;
        margin-left:70px;
      }
      .at{ 
        font-size: 20px;
        margin-left:70px;
        /* line-height: .32px; */
        line-height: 2.60rem;
      }
      .started{ 
        margin-left:70px;
        padding: 15px 60px;
        margin-top: 20px;
        border: 3px solid #F62C72;
        font-size:19px ;
        font-weight: 600;
        background-color: white;
      }
      .started:hover{ 
        margin-left:70px;
        padding: 15px 60px;
        margin-top: 20px;
        border: 3px solid #F62C72;
        background-color: #F62C72;
        color: white;
      }
      .counter{ 
        border: 1px solid rgb(152, 184, 181);
        /* height: 250px; */
        /* width: 10px; */
        width: 309.46px !important;
        height: 262.76px !important;
        display: flex;
        flex-direction: column;
       
        align-items: center;
        justify-content: center;
        /* box-shadow: #9dd7d5; */
        border-radius: 10px;
        /* box-shadow: 4px 4px 15px 6px rgba(246,44,115,.25); */
      }
      @media screen and (max-device-width:992px), screen and (max-width:300px) {
        .counter {
          height: 145.3px !important;
/* margin-top: 60px; */
        }
        
        }
       
            @media screen and (max-device-width:992px), screen and (max-width:300px) {
        .counter4 {
          height: 145.3px !important;

        }
        
        }
        .margin{ 
          margin-top: 3rem;
          margin-bottom: 3rem;
        }
        
        @media screen and (max-device-width:992px), screen and (max-width:300px) {
          .margin {
          margin-bottom: 48px;
  
          }
          
          }
      .counter:hover{ 
        border: 1px solid rgb(152, 184, 181);
        /* height: 250px; */
        /* width: 10px; */
        width: 309.46px !important;
        height: 262.76px !important;
        display: flex;
        box-shadow: 4px 4px 15px 2px rgba(246,44,115,.25);

        flex-direction: column;
       background-color: #ffffff;
       /* box-shadow: #f57ca6; */
       /* box-shadow: 10px 10px  #ff689d; */
        align-items: center;
        justify-content: center;
        /* box-shadow: #9dd7d5; */
        border-radius: 10px;
      }
      .counter4{ 
        border: 1px solid rgb(152, 184, 181);
        /* height: 250px; */
        /* width: 10px; */
        width: 309.42px !important;
        height: 262.76px !important;
        display: flex;
        flex-direction: column;
       gap: 4px;
        align-items: center;
        justify-content: center;
        /* box-shadow: #9dd7d5; */
        border-radius: 10px;
      }
      @media screen and (max-device-width:992px), screen and (max-width:300px) {
        .counter4 {
          height: 145.3px !important;

        }
        
        }
      .counter4:hover{ 
        border: 1px solid rgb(152, 184, 181);
        /* height: 250px; */
        /* width: 10px; */
        width: 309.42px !important;
        height: 262.76px !important;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 15px 2px rgba(246,44,115,.25);
        background-color: #ffffff;
       gap: 4px;
        align-items: center;
        justify-content: center;
        /* box-shadow: #9dd7d5; */
        border-radius: 10px;
      }
      .counter1{ 
        border: 1px solid rgb(152, 184, 181);
        /* width: 258.11 !important; */
        /* height: 316.75 !important; */
       
        height:262.76px  !important;
        width: 309.46px !important;
        display: flex;
        flex-direction: column;
      
        align-items: center;
        justify-content: center;
        border-radius: 10px;

      }
      @media screen and (max-device-width:992px), screen and (max-width:300px) {
        .counter1 {
          height: 145.3px !important;

        }
        
        }
      .counter1:hover{ 
        border: 1px solid rgb(152, 184, 181);
        /* width: 258.11 !important; */
        /* height: 316.75 !important; */
        box-shadow: 4px 4px 15px 2px rgba(246,44,115,.25);
        background-color: #ffffff;
        height:262.76px  !important;
        width: 309.46px !important;
        display: flex;
        flex-direction: column;
      
        align-items: center;
        justify-content: center;
        border-radius: 10px;

      }
      .change{ 
        color: #F62C72;
      }
      .counter2{ 
        border: 1px solid rgb(152, 184, 181);
        /* height: 250px; */
        /* width: 10px; */
        display: flex;
        flex-direction: column;
       
        /* align-items: center; */
        justify-content: center;
        width:  355.46px !important;
        height:262.76px !important;
        border-radius: 10px;

      }
      .clients{ 
        /* margin-top: 0px;  */
        /* margin-left: 140px; */
        font-size: 25px;
        /* font-weight: 800; */
        color:black;
      }
      .clients3{ 
        /* margin-top: 0px;  */
        /* margin-left: 90px; */
        font-size: 25px;
        /* font-weight: 800; */
        color:black;
      }
      .clients4{ 
        /* margin-top: 0px;  */
        /* margin-left: 70px; */
        font-size: 25px;
        /* font-weight: 800; */
        color:black;
      }
      .clients1{ 
        /* margin-top: 0px;  */
        /* margin-left: 100px; */
        font-size: 25px;
        /* font-weight: 800; */
        color:black;
      }
      .clients2{ 
        /* margin-top: 0px;  */
        /* margin-left: 80px; */
        font-size: 25px;
        /* font-weight: 800; */
        color:black;
      }
      #myObj1{
        font-size: 40px;
        font-weight: 800;
        color: #F62C72;
      }
      #myObj2{
       
        font-size: 40px;
        font-weight: 800;
        color: #F62C72;
      }
      #myObj3{
      
        font-size: 40px;
        font-weight: 800;
        color: #F62C72;
      }
      #myObj4{
      
        font-size: 40px;
        font-weight: 800;
        color: #F62C72;
      }
      .plus1{
        /* margin-top: 80px;  */
        margin-left: 150px;
        font-size: 40px;
        font-weight: 800;
        color: #F62C72;
      }
      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }
      .hire{ 
        margin-left: 50px;
        /* margin-top: 100px; */
        color: white;
        /* margin-top: 20px; */
        /* margin-bottom: 60px; */
        font-size: 35px;
      }
      .remote{ 
        color: #F62C72;
      }
      .power{ 
        margin-left: 50px;
        font-size: 20px;
        color: white;
        /* margin-top: 20px; */
        /* margin-bottom: 80px; */
        /* display: flex; */
        /* align-self: center; */
      }
      .hire1{ 
        background-image: url('buildyourdream-4078f74d (1).png');
        padding: 80px 0px;
        margin-top: 60px;
      }
      /* .hire1{ 
padding: 80px 0px;
      } */
      .gets{ 
        border: 2px solid #F62C72;
        color: white;
        padding: 15px 60px;
        font-size: 18px;
        background-color: transparent;
        /* margin-top: 120px; */
        font-weight: 600;
        /* margin-left: 50px; */
        margin-top: 20px;
      }
      @media screen and (max-device-width:1200px), screen and (max-width:300px) {
        .gets{
          padding: 15px 50px;
margin-left: 10px;
          margin-top: 50px;
          /* justify-content: center; */
        }
        
        }
      .gets:hover{ 
        border: 2px solid #F62C72;
        color: white;
        padding: 15px 60px;
        font-size: 18px;
        background-color:#F62C72;
        /* margin-top: 120px; */
        font-weight: 600;
        /* margin-left: 50px; */
        margin-top: 20px;
      }
      .what{ 
        /* margin-left: 50px; */
        font-size: 50px;
        font-weight: 750;
        margin-top: 90px;
        /* border-bottom: 1px solid black; */
      }
      .with{ 
        /* margin-left:70px ; */
        font-size: 20px;
        color: black;
        line-height: 2.25rem;
      }
      .wodwes{ 
        margin-top: 60px;
        font-size: 40px;
        margin-left: 50px;
        font-weight: 750;

      }
      .whats{ 
        border: 1px solid #D5D5D5D5;
      }
      .wodwes1{ 
        margin-left: 50px;
        font-size: 18px;
        line-height: 2.25rem;

      }
      .btn2{  
        border: 2px solid #F62C72;
        color: black;
        padding: 10px 60px;
        font-size: 20px;
        background-color: transparent;
        margin-top: 40px;
        font-weight: 600;
        margin-left: 50px;
      }
      .btn2:hover{  
        border: 2px solid #F62C72;
        color:white;
        padding: 10px 60px;
        font-size: 20px;
        background-color:#F62C72;
        margin-top: 40px;
        font-weight: 600;
        margin-left: 50px;
      }
      .product{ 
        color: #F62C72;
      }
      .develop{ 
        font-size: 30px;
        font-weight: 600;
        /* margin-left: 40px; */
        margin-top: 80px;
        color: white;
      }
      .testers{ 
        font-size: 18px;
        /* margin-left: 40px; */
        color: white;
      }
      .product1{ 
        background-image: url('output-onlinepngtools.png');
        background-repeat: no-repeat;
        margin-top: 80px;
        padding-bottom: 40px;
        
      }
      @media screen and (max-device-width:1200px), screen and (max-width:578px) {
        .product1 {
          /* padding-bottom: 200px; */
          /* height: 2500px; */
        }}
      .wodwes2{ 
        position: fixed;
      }
      /* .position1{
        position: fixed;
       
      } */
      .resourses1{ 
        border: 1px solid #D5D5D5D5;
  border-top:none ;
  border-left: none;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid #D5D5D5;
  width: 462.26px;
  height: 295.92px;
  /* margin-left: 200px; */
  padding: 0px 56px 48px 16px;
  /* padding: 40px; */

      }
      @media screen and (max-device-width:1200px), screen and (max-width:578px) {
        .resourses1 {
          margin-bottom: 48px;
        }}
      .resourses1:hover{ 
        /* border: 1px solid black; */
        box-shadow: 4px 4px 15px 6px rgba(246,44,115,.25);
        background-color: #ffffff;

      
      }
      .resourses2{ 
        border: 1px solid #D5D5D5;
  border-top:none ;
  border-left: none;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid #D5D5D5;
  width: 462.26px;
  height: 295.92px;
  /* margin-left: 150px; */
  /* padding: 10px; */
  padding: 0px 56px 48px 16px;

      }
      .resourses2:hover{ 
        /* border: 1px solid black; */
        box-shadow: 4px 4px 15px 6px rgba(246,44,115,.25);
        background-color: #ffffff;
      
      }
      .cv{ 
        width:628.91px;
        height: 379.77px;
        /* margin-top: 40px; */
        /* margin-left: 80px; */
      }
      .cvbtn{ 
        padding: 12px 20px;
        color: white;
        background-color: transparent;
        margin-top: 60px;
        /* justify-content: flex-end; */
        /* margin-left: 500px; */
        border: 2px solid #F62C72;
        font-size: 18px;
        font-weight: 500;
        width: 200px;
        /* height: 51.61px; */
        
      }
      .cvbtn:hover{ 
        padding: 12px 20px;
        color: white;
        /* background-color: transpare; */
        margin-top: 60px;
        /* justify-content: flex-end; */
        /* margin-left: 500px; */
        border: 2px solid #F62C72;
        background-color: #F62C72;
        font-size: 18px;
        font-weight: 500;
        
      }
      .cv1{ 
        width:628.91px;
        height: 379.77px;
        /* margin-top: 100px; */
        /* margin-left: 50px; */
        /* margin-bottom: 20px; */
      }
      .tech{ 
        color: #F62C72;

      }
      .tech1{ 
        font-weight: 700;
        margin-left: 70px;
        margin-top: 40px;
      }
      .we{ 
        margin-left: 70px;
        font-size: 19px;
        margin-bottom: 90px;
      }
      body{
        line-height: 1.5;
        font-family: sans-serif;
    }
    *{
        margin:0;
        box-sizing: border-box;
    }
    
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    img{
        max-width: 100%;
        vertical-align: middle;
    }
    .gallery{
      width: 100%;
      display: block;
      min-height: 100vh;
      background-color: #2a2932;
      padding: 100px 0;
   }
   
   /* .container{
       max-width: 1170px;
       margin:auto;
   } */
   .gallery .gallery-filter{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
 }
 .gallery .gallery-filter .filter-item{
    color: #ffffff;
    font-size: 17px;
    border: 2px solid white;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    line-height: 1.2;
    transition: all 0.3s ease;
 }
 .left{ 
  margin-left: 200px;
 }
 #London{
/* visibility:visible; */
 }
 .why{ 
  font-size: 36px;
  font-weight: 600;
  /* margin-left: 50px; */
  color: white;
  margin-top: 30px;
 }
 .position{ 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
 }
 .why1{ 
  /* margin-left: 50px; */
font-size: 19px;
color: white;
/* padding-bottom: 200px; */
margin-top: 20px;
 }
 .whys{ 
  color: #F62C72;
 }
 .whyimg{ 
  background-image: url('output-onlinepngtools.png');
  padding-top: 40px;
  background-repeat: no-repeat;
  /* padding-top: 90px; */
  /* margin-bottom: 350px; */
 }
.exp{ 
  width: 5%;
  margin-left: 0px;
  margin-top: 0px;
}     
.exp1{ 
  width: 5%;
  margin-left: 0px;
  margin-top: 140px;
} 
.exp2{ 
  width: 5%;
  margin-left: 0px;
  margin-top: 140px;
  /* padding-bottom: 60px; */
} 
.pool{ 
  color: white;
  margin-left: 0px;

}
.with{ 
  color: white;
  /* margin-right: 100px; */
  font-size: 18px;
}
.feature{ 
  font-size: 21px;
  font-weight: 700;
}
.positionnav{ 
background-color: #ffffff;
}
.development{ 
  width: 90%;
  margin-top: 60px;
  margin-left: 40px;
  border-radius: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 3;
}
.position1{ 
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.development1{ 
  font-size: 19px;
  margin-right: 40px;
  line-height: 2.25rem;
 
}
.old{ 
  width: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.developing{ 
  font-size: 19px;
  margin-right: 40px;
  line-height: 2.25rem;

}
.Team{ 
  font-size: 19px;
  margin-right: 40px;
  line-height: 2.25rem;
 
}
.developingbtn{ 
  padding: 10px 60px;
  border:2px solid #F62C72 ;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffffff;

}
.developingbtn:hover{ 
  padding: 10px 60px;
  border:2px solid #F62C72 ;
  font-size: 18px;
  font-weight: 500;
  background-color:#F62C72;
  color: #ffffff;
}
.head1{ 
  margin-top: 250px;
  margin-left:150px ;
  font-weight: 700;
  font-size: 45px;
}
.head2{ 
  margin-left:150px ;
  font-size:16px ;
}
.form1{ 
  margin-top: 40px;
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  width: 70% !important;
  outline: none !important;
  margin-bottom: 60px;
  margin-left: 80px;
  background-color:#272821 !important;
  color: white !important;

}
 /* ::placeholder {
  color: red;
 opacity: 1; Firefox
} */
/* ::-ms-input-placeholder { /* Edge 12 -18 */
  /* color: red;
}  */
.form2{ 
  margin-top: 10px;
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 1px solid white !important;
  width: 60% !important;
  outline: none !important;
  margin-bottom: 60px;
  margin-left: 80px;
  background-color:#272821 !important;

}
.form3{ 
  margin-top: 10px;
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 1px solid  white !important;
  width: 60% !important;
  outline: none !important;
  margin-bottom: 60px;
  margin-right: 150px;
  background-color:#272821 !important;

}.form1:focus{
  outline: none !important;
  border: none !important;
}
.control1{ 
  height: 300px;
  width: 80% !important;
  padding-left: 90px;
  margin-left: 80px;
  background-color:#272821 !important;
color: white !important;

}
.forms{ 
border: 1px solid #272821;
   padding-left: 90px;
   margin-left: 90px;
  /* margin-left: 80px; */
  background-color:#272821;
  margin-top: 40px

}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  background: #fff;
  color: #4d5974;
  display: flex;
  min-height: 100vh;
} */

/* .container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
} */

.accordion .accordion-item {
  /* border-bottom: 1px solid #e5e5e5; */
  border: none;
  /* border-top:1px solid #D5D5D5D5 */
  /* border-top: 1px solid #D5D5D5; */
  border-bottom:1px solid #D5D5D5 ;
  border-radius: 0px;

}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid red;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1.2em 0;
  color:#F62C72;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  background: none;
  outline: none;
}
/* .accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
} */
/* .accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
} */
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  /* border-right: none !important; */
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 23px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #03b5d2;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  /* border-right: none; */
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 2em 0;
  margin-left: 50px;
}
.what{ 
  color: black;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}
.accordion-item{ 
  /* border: none; */
  /* border-top: 1px solid #D5D5D5; */
  border-bottom: 1px solid #D5D5D5;

}
.head3{ 
  font-size: 40px;
  font-weight: 700;
  margin-left: 90px;
  margin-top: 80px;
}
.question{ 
  color:#F62C72;
}
.question1{ 
  font-size: 20px;
  margin-left: 90px;
 
}
.email{ 
  padding: 15px 20px;
  color: black;
  font-size: 17px;
  margin-right: 40px;
}
.email::placeholder {
  color:black !important;
  opacity: 1; /* Firefox */
}
.emailbtn{ 
  padding: 10px 80px;
  margin-top: 20px;
  border: 2px solid #F62C72;
  background-color: #F62C72;
  color: white;
  font-size: 19px;
  font-weight: 600px;

}
@media screen and (max-device-width:992px), screen and (max-width:300px) {
  .emailbtn{
  padding: 10px 90px;
    

  }
  
  }
.services{ 
  font-weight: 750;
  color: #F62C72;
  margin-left: 60px;

}
.services1{ 
  font-weight: 750;
  color: #F62C72;
  /* margin-left: px; */
/* margin-right: 60px; */

}
.php{ 
  font-size: 16px;
  margin-left: 60px;
}
.php1{ 
  font-size: 16px;
  margin-left: 30px;
  /* margin-top: 30px; */
}
.php2{ 
  font-size: 20px;
  margin-left: 0px;

}
.php3{ 
  font-size: 20px;
  /* margin-left: ; */
}
.services2{ 
  font-weight: 750;
  color: #F62C72;
  margin-left: 0px;


}
.services4{ 
  font-weight: 850;
  color: #F62C72;
  margin-right: 60px;
  font-size: 19px;


}
.sitemap{ 
  border: 1px solid #272821;
  background-color: #272821;
  color: white;
  padding-top: 80px;
  margin-top: 40px;
}
.iconface{ 
  /* margin-top: 120px; */
  color: white;
  border: 1px solid white;
  width: 40px;
  border-radius: 60px;
  margin-left: 160px;
}
.inlogo{ 
  width: 40px;
  margin-top: 10px;
  margin-left: 30px;
  border: 1px solid white;
  border-radius: 60px;

}
.follow{ 
  margin-top: 90px;
  margin-left: 155px;
  color: #F62C72;
}
.Copyright{ 
  text-align: center;
}

::placeholder {
  color:white !important;
  opacity: 1; /* Firefox */
}
/* .react{ 
  border: 1px solid black;
  border-radius: 20px;
  width: 20%;
  margin-left: 250px;
} */
.getbtn{ 
  padding: 15px 70px;
  border: 2px solid #F62C72;
  margin: 80px;
  background-color: transparent;
  color: white;
}
.getbtn:hover{ 
  padding: 15px 70px;
  border: 2px solid #F62C72;
  margin: 80px;
  background-color:#F62C72;
  color: white;
}